
<tr>
  
    <th>
        <span>POS</span>
    </th>
    <th>
        <span>EQUIPOS</span>
    </th>
     <th>
        <span>PJ</span>
    </th>
    <th>
        <span>G</span>
    </th>
    <th>
        <span>E</span>
    </th>
    <th>
       <span>P</span>
    </th>
    <th class="movil">
        <span>GF</span>
    </th>
    <th class="movil">
        <span>GC</span>
    </th>
    <th class="movil">
        <span>DG</span>
    </th>
    <th>
        <span>Pts</span>
    </th>
    

</tr>
