<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Vea las posiciones de LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO para mantener informado sobre lo que pase">
    <meta property="og:title" content="LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO" />
    <meta property="og:image" content="images/Logodelaliga.png">
    <meta name="author" content="Facundo Lopez">
    <meta name="keywords" content="Futbol, Argentina, Liga argentina de futbol">
    <title>TABLA DE POSICIONES DE LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    
</style>
<body>
    <header>
        <h1>TABLA DE POSICIONES DE LA LIGA PROFESIONAL DE FÚTBOL ARGENTINO</h1>
    </header>
    <div class="cuadrado">
        <h2>Leyenda de colores: </h2>
       
                <span>color verde pasan a la libertadores</span>
                <div class="colorVerde">

                </div>

                <span>color rojo desciende</span>
                <div class="colorRojo"></div>   
    </div>
    
    <table>
        <thead>
            {{> thead}}
        </thead>
        <tbody>
            {{#tabla tbodyPuntos tbody tbodyImg}}
            {{/tabla}}
        </tbody>
    </table>
    
</body>
</html>